
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  margin: 0;
}

#game-container {
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(100, 1fr);
  grid-gap: 0px;
  background: black;
  width: 100vw;
  height: 100vw;
  margin: 0;
}

#game-container > div {
  background: green;
}

.parent {
  background: skyblue;
}

.info {
  position: fixed;
  width: 10vw;
  height: 10vw;
  background: url('img/house-menu.png');
  background-size: contain;
  font-family: 'Press Start 2P', cursive;
}

.info h1 {
  margin-left: 1vw;
  font-size: 20px;
}

.info p {
  margin-left: 1vw;
  font-size: 10px;
}

.info img {
  width: 1.5vw;
  height: 1.5vw;
  float: right;
  margin: 0.5vw;
}

@media screen and (min-width: 1000px) {
  #game-container {
    width: 100vw;
  }
  .parent {
    width: 100vw;
  }

  #game-menu {
    width: 20vw;
    height: 100vh;
    background: white;
    position: fixed;
    float: right;
    right: 0;
    top: 0;
  }
}

@media screen and (max-width: 1000px) {
  #game-container {
    height: 100vh;
  }
}
