
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  margin: 0;
  overflow: hidden;
}

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'VT323', sans-serif;
  font-weight: normal;
}

#game {
  width: 80vw;
  height: 100vh;
}

#game-container {
  display: grid;
  grid-template-columns: repeat(19, 1fr);
  grid-template-rows: repeat(19, 1fr);
  grid-gap: 0px;
  background: black;
  width: 576px;
  height: 576px   ;
  margin: 0;
}

#game-container > div {
  background: url('../img/map/grass.png');
  background-size: contain;
}

.parent {
  background: #03a9f4;
}

.parent {
  width: 100%;
  height: 100%;
}

/* MENU
––––––––––––––––––––––––––––––––––––––– */
#menu {
  width: 20vw;
  height: 100vh;
  background: #FFB57A;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.8em;
  border: 6px solid #D0712E;
}

#menu-btn-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 50px;
  align-items: center;
}

.modal-btn {
  margin: 10px 0;
  height: 70px;
  width: 200px;
  background: url('../img/menu-btn.png');
  border: none;
  background-size: contain;
  color: white;
  padding-bottom: 10px;
  font-family: 'VT323', sans-serif;
}

.modal-btn:hover {
  background: url('../img/menu-btn-p.png');
  background-size: contain;
  padding-top: 6px;
  cursor: pointer;
}

#logout-btn {
  background: url("../img/logout-btn.png");
  background-size: contain;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}

#logout-btn:hover {
  background: url("../img/logout-btn-p.png");
  background-size: contain;
}

#balance {
  background: #FFE3DA;
  margin: 20px 0;
  padding: 5px;
  font-size: 0.8em;
}

/* ALL MODALS
––––––––––––––––––––––––––––––––––––––– */
.modal {
  display: none; /* Hidden by default */
  position: absolute;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 80%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  width: 93%;
  height: 89.5%;
  margin: 3.5%;
  background: #FFB57A;
  border: 10px solid #D0712E;
  outline: 4px solid #753713;
  overflow: hidden;
  overflow-y: scroll;
}

.modal-close-btn {
  background: url('../img/close-btn.png');
  height: 72px;
  width: 66px;
  position: absolute;
  background-size: contain;
  top: 1.5%;
  right: 1.5%;
}

.modal-close-btn:hover {
  background: url('../img/close-btn-p.png');
  background-size: contain;
  cursor: pointer;
}

.modal-title {
  text-align: center;
  font-size: 3em;
}

/* SHOP MODAL
––––––––––––––––––––––––––––––––––––––– */
#shop-item-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-content: flex-start;
  background: #FFB57A;
  border: 10px solid #D0712E;
  outline: 4px solid #753713;
}

#commodities-table {
  display: block;
  height: 500px;
  overflow-y: scroll;
}

@media screen and (max-width:1500px) {
  #shop-item-wrap {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* SHOP ITEMS
––––––––––––––––––––––––––––––––––––––– */
.shop-item {
  max-width: 300px;
  margin: 20px 15px;
  display: block;
  padding: 10px 15px;
  max-height: 170px;
  background: #FFE3DA;
  box-shadow: 3px 3px #D0712E;
}

.shop-item * {
  float: left;
}

.item-desc-wrap {
  display: flex;
  width: 100%;
  position: relative;
  font-size: 1.2em;
}

.item-desc-wrap img {
  width: 80px;
  height: 80px;
}

.item-name {
  width: 100%;
  padding-bottom: 12px;
  font-size: 2em;
}

.item-img {
  border: 3px solid brown;
}

.item-desc {
  margin: 0 6px;
}

.item-buy-btn {
  float: right;
  position: relative;
  bottom: 0;
  background: url('../img/buy-btn.png');
  background-size: contain;
  width: 81px;
  height: 39px;
  border: none;
  color: white;
  font-size: 1.6em;
  margin-top: 5px;
  padding-bottom: 3px;
}

.item-buy-btn:hover {
  background: url('../img/buy-btn-p.png');
  background-size: contain;
  padding-top: 6px;
  cursor: pointer;
}

/* MARKET
––––––––––––––––––––––––––––––––––––––– */
#market table{
  overflow-y: scroll;
}

#create-order-btn {
  float: right;
}

#market table {
    border-spacing: 0;
    width: 95%;
    margin: 0 auto;
}

#market th, #market td {
    text-align: left;
    padding: 3px;
}

#market td {
  font-size: 1.4em;
}

#market tr {
  background: #FFE3DA;
  box-shadow: 3px 3px #D0712E;
}

th {
  box-shadow: none;
  font-size: 2em;
}

#market .order-spacer {
  background: #FFB57A;
  height: 15px;
  box-shadow: none;
}

/* ORDER POPUPS
––––––––––––––––––––––––––––––––––––––– */
.order-popup-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.order-popup-wrap {
  width: 300px;
  display: block;
  margin: 250px auto;
}

.order-popup-div {
  background: #FFB57A;
  border: 5px solid #D0712E;
  outline: 2px solid #753713;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* CREATE ORDER POPUP
––––––––––––––––––––––––––––––––––––––– */

/* Inputs */
.create-order-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.create-order-p {
  font-size: 1.4em;
  display: inline-block;
}

.create-order-input {
  display: inline-block;
  font-size: 1.2em;
}

/* Buttons */
.order-popup-btn {
  color: white;
  background-size: contain;
  height: 47px;
  width: 120px;
  border: none;
  padding-bottom: 6px;
  position: relative;
  bottom: 20px;
  font-size: 1.5em;
}

#order-submit {
  background: url("../img/upgrade-btn.png");
  margin: 0 20px 0 30px;
}

#order-submit:hover {
  background: url("../img/upgrade-btn-p.png");
  background-size: contain;
  padding-top: 8px;
  cursor: pointer;
}

#order-cancel-btn {
  background: url("../img/sell-btn.png");
  margin: 0 20px;
}

#order-cancel-btn:hover {
  background: url("../img/sell-btn-p.png");
  background-size: contain;
  padding-top: 8px;
  cursor: pointer;
}

/* STOCKPILE
––––––––––––––––––––––––––––––––––––––– */
#stockpile-div {
  width: 50%;
  float: left;
  display: grid;
  justify-content: center;
}

#stockpile-div table {
  border-spacing: 0;
  margin: 25px;
  max-height: 100%;
  overflow: visible;
}

#stockpile-div th, #stockpile-div td {
  text-align: center;
  padding: 3px 15px;
}

#stockpile-div td {
  font-size: 1.4em;
}

#stockpile-div tr {
  background: #FFE3DA;
  box-shadow: 3px 3px #D0712E;
}

/* KINGDOM INFO
––––––––––––––––––––––––––––––––––––––– */
#kingdom-info-div {
  width: 50%;
  float: right;
}

/* PRODUCER INFORMATION
––––––––––––––––––––––––––––––––––––––– */
.producer-info {
  position: absolute;
  top: 50px;
  left: 50px;
}

.producer-info-wrap {
  background: #FFB57A;
  border: 5px solid #D0712E;
  outline: 2px solid #753713;
  padding: 7px;
  font-size: 1.3em;
  height: 180px;
  width: 290px;
}

.producer-info-close {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 33px;
  height: 36px;
  background: url('../img/close-btn.png');
  background-size: contain;
  margin: 3px;
}

.producer-info-close:hover {
  background: url('../img/close-btn-p.png');
  background-size: contain;
  cursor: pointer;
}

.producer-btn {
  color: white;
  background-size: contain;
  height: 47px;
  width: 120px;
  border: none;
  padding-bottom: 6px;
  position: relative;
  bottom: 35px;
  font-size: 1.2em;
}

#producer-upgrade-btn {
  background: url("../img/upgrade-btn.png");
  margin: 0 20px;
}

#producer-upgrade-btn:hover {
  background: url("../img/upgrade-btn-p.png");
  background-size: contain;
  padding-top: 8px;
  cursor: pointer;
}

#producer-sell-btn {
  background: url("../img/sell-btn.png");
  margin: 0 20px 0 30px;
}

#producer-sell-btn:hover {
  background: url("../img/sell-btn-p.png");
  background-size: contain;
  padding-top: 8px;
  cursor: pointer;
}

.inline-btn-wrap {
  width: 120px;
  height: 55px;
  display: block;
  float: left;
}
