
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  margin: 0;
}

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#game {
  width: 80vw;
  height: 100vh;
}

#game-container {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
  grid-gap: 0px;
  background: black;
  width: 576px;
  height: 576px   ;
  margin: 0;
}

#game-container > div {
  background: url('../img/map/grass.png');
  background-size: contain;
}

.parent {
  background: skyblue;
}

.info {
  position: fixed;
  width: 10vw;
  height: 10vw;
  background: url('../img/house-menu.png');
  background-size: contain;
  font-family: 'Press Start 2P', cursive;
}

.info h1 {
  margin-left: 1vw;
  font-size: 20px;
}

.info p {
  margin-left: 1vw;
  font-size: 10px;
}

.info img {
  width: 1.5vw;
  height: 1.5vw;
  float: right;
  margin: 0.5vw;
}


.parent {
  width: 100%;
  height: 100%;
}

#menu {
  width: 20vw;
  height: 100vh;
  background: lightgray;
  position: absolute;
  float: right;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}

/* MODALs
––––––––––––––––––––––––––––––––––––––– */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 80%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  width: 93%;
  height: 89.5%;
  margin: 3.5%;
}

/* SHOP ITEM
––––––––––––––––––––––––––––––––––––––– */
#shop-item-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-content: flex-start;
  overflow-y: scroll;
}

.shop-item {
  border: 1px solid gray;
  max-width: 300px;
  margin: 20px auto;
  float: left;
  display: block;
  padding: 10px 15px;
  max-height: 170px;
}

.shop-item * {
  float: left;
}

.item-desc-wrap {
  display: flex;
  width: 100%;
  position: relative;
}

.item-desc-wrap img {
  width: 80px;
  height: 80px;
}

.item-name {
  width: 100%;
  padding-bottom: 12px;
}

.item-img {
  border: 3px solid brown;
}

.item-desc {
  margin: 0 6px;
}

.item-buy-btn {
  float: right;
  position: relative;
  bottom: 0;
}
