
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  margin: 0;
  overflow: hidden;
}

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'VT323', sans-serif;
  font-weight: normal;
}

#game {
  width: 80vw;
  height: 100vh;
}

#game-container {
  display: grid;
  grid-template-columns: repeat(19, 1fr);
  grid-template-rows: repeat(19, 1fr);
  grid-gap: 0px;
  background: black;
  width: 576px;
  height: 576px   ;
  margin: 0;
}

#game-container > div {
  background: url('../img/map/grass.png');
  background-size: contain;
}

.parent {
  background: #03a9f4;
}

.parent {
  width: 100%;
  height: 100%;
}

.text-icon {
  width: 2vw !important;
  height: 2vw !important;
}

.producer-info-icon {
  margin-bottom: -10px;
}

/* MENU
––––––––––––––––––––––––––––––––––––––– */
#menu {
  width: 20vw;
  height: 100vh;
  background: #FFB57A;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.8em;
  border: 6px solid #D0712E;
}

#menu-btn-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 50px;
  align-items: center;
}

.modal-btn {
  margin: 10px 0;
  height: 70px;
  width: 230px;
  background: url('../img/menu-btn.png');
  border: none;
  background-size: contain;
  color: white;
  padding-bottom: 10px;
  font-family: 'VT323', sans-serif;
}

.modal-btn:hover {
  background: url('../img/menu-btn-p.png');
  background-size: contain;
  padding-top: 6px;
  cursor: pointer;
}

#help-btn {
  position: absolute;
  bottom: 0;
  margin-bottom: 110px;
}

#logout-btn {
  background: url("../img/logout-btn.png");
  background-size: contain;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}

#logout-btn:hover {
  background: url("../img/logout-btn-p.png");
  background-size: contain;
}

#balance {
  background: #FFE3DA;
  margin: 20px 0;
  padding: 5px;
  font-size: 0.8em;
}

/* ALL MODALS
––––––––––––––––––––––––––––––––––––––– */
.modal {
  display: none; /* Hidden by default */
  position: absolute;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 80%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  width: 93%;
  height: 89.5%;
  margin: 3.5%;
  background: #FFB57A;
  border: 10px solid #D0712E;
  outline: 4px solid #753713;
  overflow: hidden;
  overflow-y: scroll;
  padding: 45px 0;
}

.modal-close-btn {
  background: url('../img/close-btn.png');
  height: 72px;
  width: 66px;
  position: absolute;
  background-size: contain;
  top: 1.5%;
  right: 1.5%;
}

.modal-close-btn:hover {
  background: url('../img/close-btn-p.png');
  background-size: contain;
  cursor: pointer;
}

.modal-title {
  text-align: center;
  font-size: 3em;
  background: url("../img/red-banner.png") no-repeat;
  background-size: contain;
  height: 73px;
  width: 350px;
  color: white;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 10px;
  z-index: 300;
}

/* SHOP MODAL
––––––––––––––––––––––––––––––––––––––– */
#shop-item-wrap {
  background: #FFB57A;
  border: 10px solid #D0712E;
  outline: 4px solid #753713;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

#commodities-table {
  display: block;
  height: 500px;
  overflow-y: scroll;
}

@media screen and (max-width:1500px) {
  .tier-div {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.tier-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-content: flex-start;
  border-bottom: 3px solid #D0712E;
  padding-bottom: 45px;
  margin-bottom: 30px;
}

.tier-label {
  position: relative;
  color: #a65a24;
  display: table;
  margin-bottom: 10px;
}

/* SHOP ITEMS
––––––––––––––––––––––––––––––––––––––– */
.shop-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 235px;
  height: 310px;
  margin: 20px 15px;
  padding: 10px;
  background: #FFE3DA;
  box-shadow: 3px 3px #D0712E;
  position: relative;
}

.shop-item img {
  width: 80px;
  height: 80px;
}

.item-name {
  width: 100%;
  font-size: 2em;
  text-align: center;
  padding-bottom: 8px;
}

.item-img {
  border: 3px solid brown;
}

.item-desc {
  margin: 0 6px;
  font-size: 1.2em;
}

#intake {
color: #DB0053;
}

#produce{
  color: #00BC00;
}

.item-buy-btn {
  position: absolute;
  bottom: -16px;
  background: url('../img/buy-btn.png');
  background-size: contain;
  width: 81px;
  height: 39px;
  border: none;
  color: white;
  font-size: 1.6em;
  margin-top: 5px;
  padding-bottom: 3px;
}

.item-buy-btn:hover {
  background: url('../img/buy-btn-p.png');
  background-size: contain;
  padding-top: 6px;
  cursor: pointer;
}

/* MARKET
––––––––––––––––––––––––––––––––––––––– */
#market table{
  overflow-y: scroll;
}

#order-btn {
  float: right;
}

#market table {
    border-spacing: 0;
    width: 95%;
    margin: 0 auto;
}

#market th, #market td {
    text-align: left;
    padding: 3px;
}

#market td {
  font-size: 1.4em;
}

#market tr {
  background: #FFE3DA;
  box-shadow: 3px 3px #D0712E;
}

th {
  box-shadow: none;
  font-size: 2em;
}

#market .order-spacer {
  background: #FFB57A;
  height: 15px;
  box-shadow: none;
}

/* Buttons */

#create-order-btn {
  width: 171px;
  height: 60px;
  background: url('../img/create-order-btn.png') no-repeat;
  background-size: contain;
  text-align: center;
  border: none;
  color: white;
  padding-bottom: 10px;
  font-size: 0.95em;
  display: table;
  margin: 0 auto;
  margin-bottom: -3px;
}

#create-order-btn:hover {
  background: url('../img/create-order-btn-p.png') no-repeat;
  background-size: contain;
  padding-top: 8px;
  cursor: pointer;
}

.order-created-cancel, .order-fulfill {
  background: url('../img/cancel-order-btn.png') no-repeat;
  background-size: contain;
  width: 102px;
  height: 47px;
  color: white;
  text-align: center;
  border: none;
  padding-bottom: 6px;
  font-size: 1.2em;
  display: table;
  margin: 0 auto;
  margin-bottom: -3px;
}

.order-fulfill {
  background: url('../img/fulfill-order-btn.png') no-repeat;
}

.order-created-cancel:hover, .order-fulfill:hover {
  background: url('../img/cancel-order-btn-p.png') no-repeat;
  background-size: contain;
  padding-top: 8px;
  cursor: pointer;
}

.order-fulfill:hover {
  background: url('../img/fulfill-order-btn-p.png') no-repeat;
}

/* ORDER POPUPS
––––––––––––––––––––––––––––––––––––––– */
.order-popup-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.order-popup-wrap {
  width: 350px;
  display: block;
  margin: 150px auto;
}

.order-popup-div {
  background: #FFB57A;
  border: 5px solid #D0712E;
  outline: 2px solid #753713;
  padding: 30px 20px 40px 20px;
  display: grid;
  grid-template-columns: auto 1fr;
}

#order-popup-title {
  display: table;
  width: 250px;
  height: 59px;
  background: url("../img/red-banner.png") no-repeat;
  text-align: center;
  font-size: 2em;
  color: white;
  margin: 0 auto;
  position: relative;
  bottom: -30px;
  padding-top: 3px;
  background-size: contain;
}

/* CREATE ORDER POPUP
––––––––––––––––––––––––––––––––––––––– */

/* Inputs */
.order-column {
  display: grid;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
}

.order-p {
  font-size: 1.4em;
  display: inline-block;
  margin: 2.5px 0;
  padding: 3.5px;
}

.order-input {
  display: table;
  font-size: 1.4em;
  margin: 2.5px 0;
  border: 2px solid #E4E4E4;
  padding: 5px;
}

/* Buttons */
.order-popup-btn {
  color: white;
  background-size: contain;
  height: 47px;
  width: 120px;
  border: none;
  padding-bottom: 6px;
  position: relative;
  bottom: 30px;
  font-size: 1.5em;
}

#order-submit, #fulfill-submit {
  background: url("../img/fulfill-order-popup-btn.png");
  margin: 0 40px 0 75px;
}

#order-submit:hover, #fulfill-submit:hover {
  background: url("../img/fulfill-order-popup-btn-p.png");
  background-size: contain;
  padding-top: 8px;
  cursor: pointer;
}

#order-cancel-btn, #fulfill-cancel-btn {
  background: url("../img/sell-btn.png");
  margin: 0 45px;
}

#order-cancel-btn:hover, #fulfill-cancel-btn:hover {
  background: url("../img/sell-btn-p.png");
  background-size: contain;
  padding-top: 8px;
  cursor: pointer;
}

/* FULFILL ORDER
––––––––––––––––––––––––––––––––––––––– */
#fulfill-order-content {
  grid-template-rows: auto auto auto;
  grid-template-columns: auto 1fr;
  justify-content: flex-start;
  margin-left: 12px;
}

#fulfill-type-label {
  grid-row: 1;
  grid-column: 1;
}

#fulfill-type {
  grid-row: 1;
  grid-column: 2;
  margin-left: 10px;
}

#fulfill-price-label {
  grid-column: 1;
  grid-row: 2;
}

#fulfill-price {
  grid-row: 2;
  grid-column: 2;
  margin-left: 10px;
}

#fulfill-amount-label {
  grid-column: 1;
  grid-row: 3;
}

#fulfill-amount {
  grid-row: 3;
  grid-column: 2;
  width: 85px;
  grid-row: 3;
  border: 2px solid #E4E4E4;
  padding: 1px 2px;
  margin-left: 10px;
}

#amount-total {
  grid-row: 3;
  grid-column: 2;
  margin-left: 97px;
}

#fulfill-order-labels {

}

/* STOCKPILE
––––––––––––––––––––––––––––––––––––––– */


#stockpile-div table {
  border-spacing: 0;
  margin: 25px auto;
  max-height: 100%;
  overflow: visible;
  display: table;
}

#stockpile-div th, #stockpile-div td {
  text-align: center;
  padding: 3px 35px;
}

#stockpile-div td {
  font-size: 1.4em;
}

#stockpile-div tr {
  background: #FFE3DA;
  box-shadow: 3px 3px #D0712E;
}

#citizen-info {
  display: table;
  margin: 20px auto;
}

.citizen-info {
  background: #FFE3DA;
  box-shadow: 3px 3px #D0712E;
  margin: 0 25px;
  padding: 5px;
  font-size: 1.4em;
  display: inline-block;
}


/* HELP MODAL
––––––––––––––––––––––––––––––––––––––– */
#help-modal-wrap {
  padding: 60px 260px;
  padding-bottom: 40px;
}

#help-modal-wrap h2 {
  font-size: 1.8em;
  background: url("../img/orange-banner.png") no-repeat;
  background-size: contain;
  width: 190px;
  height: 46px;
  color: white;
  margin-left: -28px;
  padding-left: 35px;
  margin-bottom: -70px;
  padding-top: 3px;
  position: relative;
  z-index: 2;
}

#help-modal-wrap p {
  padding: 15px;
  padding-top: 55px;
  font-size: 1.3em;
  background: #FFE3DA;
  box-shadow: 3px 3px #D0712E;
  z-index: -1;
  margin: 13px 0;
}

.formula {
  border-left: 3px solid #D26E00;
  background: white;
  padding: 3px;
}

/* PRODUCER INFORMATION
––––––––––––––––––––––––––––––––––––––– */
.producer-info-bg {
  width: 81vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.producer-info {
  display: table;
  margin: 200px auto 0;
  position: relative;
}

.producer-info-wrap {
  background: #FFB57A;
  border: 5px solid #D0712E;
  padding: 7px;
  font-size: 1.3em;
  height: 180px;
  width: 290px;
}

.producer-info-close {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 33px;
  height: 36px;
  background: url('../img/close-btn.png');
  background-size: contain;
  margin: 3px;
}

.producer-info-close:hover {
  background: url('../img/close-btn-p.png');
  background-size: contain;
  cursor: pointer;
}

.producer-btn {
  color: white;
  background-size: contain;
  height: 47px;
  width: 120px;
  border: none;
  padding-bottom: 6px;
  position: relative;
  bottom: 35px;
  font-size: 1.2em;
}

#producer-upgrade-btn {
  background: url("../img/upgrade-btn.png");
  margin: 0 20px 0 30px;
}

#producer-upgrade-btn:hover {
  background: url("../img/upgrade-btn-p.png");
  background-size: contain;
  padding-top: 8px;
  cursor: pointer;
}

#producer-sell-btn {
  background: url("../img/sell-btn.png");
  margin: 0 20px;
}

#producer-sell-btn:hover {
  background: url("../img/sell-btn-p.png");
  background-size: contain;
  padding-top: 8px;
  cursor: pointer;
}

.inline-btn-wrap {
  width: 120px;
  height: 55px;
  display: block;
  float: left;
}

.producer-info-name {
  font-size: 1.2em;
  background: url("../img/orange-banner2.png") no-repeat;
  background-size: contain;
  width: 250px;
  height: 46px;
  color: white;
  margin-left: -40px;
  padding-left: 42px;
  padding-top: 4px;
}

.producer-info-intake {
  color: #DB0053;
}

.producer-info-gen {
  color: #00BC00;
}

/* LEADERBOARD MODAL
––––––––––––––––––––––––––––––––––––––– */

#leaderboard-table {
  border-spacing: 0;
  max-height: 100%;
  width: 80%;
  overflow: visible;
  display: table;
  margin: 0 auto;
}

#leaderboard-table th, #leaderboard-table td {
  text-align: center;
  padding: 3px 15px;
}

#leaderboard-table td {
  font-size: 1.5em;
}

#leaderboard-table tr {
  background: #FFE3DA;
  box-shadow: 3px 3px #D0712E;
}

.user-visit {
  background: url('../img/fulfill-order-btn.png') no-repeat;
  background-size: contain;
  width: 102px;
  height: 47px;
  color: white;
  text-align: center;
  border: none;
  padding-bottom: 6px;
  font-size: 1.2em;
}

.user-visit:hover {
  background: url('../img/fulfill-order-btn-p.png') no-repeat;
  background-size: contain;
  padding-top: 8px;
  cursor: pointer;
}

#return-btn {
  margin: 30px 0;
}
