/* GENERAL
––––––––––––––––––––––––––––––––––––––– */
body {
  background: url('../img/background.jpg');
  background-size: contain;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'VT323', sans-serif;
}

/* LOGIN BOX
––––––––––––––––––––––––––––––––––––––– */
#title {
  max-width: 40%;
  margin: 50px 0 120px 0;
}

#tabs {
  display: inline-block;
  background: url('../img/login-bg.png') no-repeat;
  height: 454px;
  width: 306px;
}

form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 40px;
}

input, .input {
  width: 100%;
  margin: 10px 0;
  font-size: 1.7em;
  border: 2px solid #E4E4E4;
  border-radius: 2px;
  padding: 8px;
}

.input {
  color: #FFB57A;
  border: 2px solid #FFB57A;
  width: 20px;
  align-self: center;
}

.ui-tabs-nav {
  display: flex;
  margin: 18px;
}

.ui-tab {
  background: #00BCB7;
  width: 50%;
  height: 100%;
  list-style: none;
  text-align: center;
  padding: 0.5em;
}

.ui-tab:hover {
  background: #009692;
  border-bottom: 5px solid #327b75;
}

.ui-tabs-anchor {
  color: white;
  text-decoration: none;
  height: 100%;
  width: 100%;
  font-size: 2em;
}

.ui-state-active, .ui-state-active:hover {
  background: #008986;
  border-bottom: 5px solid #005B53;
  width: 50%;
  height: 100%;
}

input[type=submit] {
  background:url("../img/button.png") no-repeat left bottom;
  color: white;
  font-size: 2em;
  height: 65px;
  width: 162px;
  border: none;
  align-self: center;
  font-size: 2.5em;
}

input[type=submit]:hover {
  cursor: pointer;
  background: url('../img/button-p.png') no-repeat left bottom;
  padding-bottom: 3px;
  color: #eee;
}
